.serie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.serie-card{
    width: 350px;
    height: 350px;
    margin-top: 30px;
}
.view{
    position: fixed;
    top: 30%;
    left: 45%;
    width: 100px;
    height: 200px;
    background-color: grey;
}